@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<HACKATHON.Models.VeriGirisi>
@{
    ViewData["Title"] = "SorumluUI";
    Layout = "~/Views/Shared/_SorumluLayout.cshtml";
}


<table class="table-bordered table table-primary table-hover text-center">
	<thead>
		<tr>
			<th>Kategori</th>
			<th>Grup</th>
			<th>Değer Türü</th>
			<th>Birim</th>
			<th>Veri Periyodu</th>
			<th>Yıl	</th>
			<th>Dönem</th>
			<th>Değer</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			
			<tr>
				<td>@item.DegerTuru.Grup.Kategori.KategoriAdi</td>
				
				<td>@item.DegerTuru.Grup.GrupAdi</td>
				
				<td>@item.DegerTuru.DegerTuruAdi</td>
				<input type="hidden" name="DegerTuru" />

				<td>@item.DegerTuru.Birim</td>
				

				<td>@item.DegerTuru.VeriPeriyodu</td>
				

				<td>@item.Yil</td>
				

				<td>@item.Donem</td>
				
				<form asp-controller="Login" asp-action="SorumluUI" method="post">
				<td>
					<input class="input-style" type="text" name="deger" value="@item.Deger" />
					<input type="hidden" name="id" value="@item.VeriGirisiId" />
					<input type="submit" class="btn btn-success" value="Ekle ➕" />
					<input type="hidden" name="Sorumlu" value="@ViewBag.Sorumlu"/>
				</td>
				</form>
			</tr>
			

		}
	</tbody>

</table>

